@import models.github.RepoContentItem
@import models.github.GitHubUser
@import models.github.Repository

@(
username: String,
repoName: String,
user:Option[GitHubUser],
repo:Option[Repository],
pathSeq:Option[List[(String,String)]],
currentLocation:(String,String),
contents: Seq[RepoContentItem]
)(implicit request: RequestHeader, messages: Messages)

@main(repoName){
<div id="repo-dir-content-container">
    @if(repo.isDefined && user.isDefined) {
        @views.html.components.userRepoCard(user.get, repo.get)
    }
    <div class="repo-dir-header">
        @views.html.components.filePath(username, repoName, pathSeq)
        @currentLocation._1
    </div>

    <div class="repo-dir-body">
        <ul>
            @for(dir <- contents if dir.`type` == "dir") {
            <li>
                @views.html.components.dirCard(username, repoName, dir)
            </li>
            }
            @for(file <- contents if file.`type` == "file") {
            <li>
                @views.html.components.fileCard(username, repoName, file)
            </li>
            }
        </ul>
    </div>

    <div class = "add-file-button">
        <a href="@routes.ApplicationController.getNewFileInput(username, repoName, currentLocation._2)"
        >Add New File</a>
    </div>
</div>
}