@import models.github.RepoContentItem

@(username: String, repoName: String, pathSeq:List[(String,String)], currentLocation:(String,String), contents: Seq[RepoContentItem])(implicit request: RequestHeader, messages: Messages)

@main(repoName){

<div>
    <h1>
        <a href="@routes.ApplicationController.displayGitHubUser(username)"
        >@username</a>
    </h1>

    <h2>
        <a href="@routes.ApplicationController.getUserRepoContent(username, repoName)"
        >@repoName /</a>

        @for(pathSegment <- pathSeq){
        <a href="@routes.ApplicationController.getUserRepoDirContent(username, repoName, pathSegment._2)"
        > @pathSegment._1 /</a>
        }

        @currentLocation._1
    </h2>
    @for(dir <- contents if dir.`type` == "dir") {
    <a href="@routes.ApplicationController.getUserRepoDirContent(username, repoName, dir.path)"
    >@dir.name</a>
    }
    @for(file <- contents if file.`type` == "file") {
    <a href="@routes.ApplicationController.getUserRepoFileContent(username, repoName, file.path, file.sha)"
    >@file.name</a>
    }
    <div>
        <a href="@routes.ApplicationController.getNewFileInput(username, repoName, currentLocation._2)"
        >Add New File</a>
    </div>
</div>

}