@import models.github.RepoFileItem

@(username: String, repoName: String, dirPath:String, dirEncodedPath:String, file: RepoFileItem)(implicit request: RequestHeader, messages: Messages)

@main(file.name) {

<div>

    <div>

        <h2>
            <a href="@routes.ApplicationController.getUserRepoContent(username, repoName)"
        >@repoName /</a>

            <a href="@routes.ApplicationController.getUserRepoDirContent(username, repoName, dirEncodedPath)"
            >@dirPath /</a>

            @file.name
        </h2>


    </div>

    <p> @file.content </p>
</div>


}

