@import models.github.RepoFileItem
@import models.github.GitHubUser
@import models.github.Repository

@(
username: String,
repoName: String,
sha:String,
file: RepoFileItem,
user:Option[GitHubUser],
repo:Option[Repository],
pathSeq:Option[List[(String,String)]]
)(implicit request: RequestHeader, messages: Messages)

@main(file.name) {

<div class="repository-container">
    @if(user.isDefined && repo.isDefined){
    @views.html.components.userRepoCard(user.get, repo.get)
    }

    <div class="file-content-header">
        <div class="file-content-path">
            @views.html.components.filePath(username, repoName, pathSeq)
            <p class="edit-file-name">@file.name</p>
        </div>
        <div class="edit-delete-buttons">
            @views.html.components.deleteButton(username, repoName, file.path, sha)
            @views.html.components.editButton(username, repoName, file.path, sha)
        </div>
    </div>

    <div class="file-content-body">

        <div class="file-content">
            @file.content
        </div>
    </div>

</div>
}

