@import models.github.RepoContentItem

@(username: String, repoName: String, contents: Seq[RepoContentItem])(implicit request: RequestHeader, messages: Messages)

@main(repoName){

<div>
    <h2>repoName</h2>
    @for(dir <- contents if dir.`type` == "dir") {
    <div>
    <a href="@routes.ApplicationController.getUserRepoDirContent(username, repoName, dir.path)"
    >@dir.name</a>
    </div>
    }
    @for(file <- contents if file.`type` == "file") {
    <div>
        <div>
            <a href="@routes.ApplicationController.getUserRepoFileContent(username, repoName, file.path)"
            >@file.name</a>
        </div>
        <div>
            <a href="@routes.ApplicationController.getEditFileInput(username, repoName, file.path, file.sha)"
            >EDIT @file.name</a>
        </div>

    </div>
    }

    <div>
        <a href="@routes.ApplicationController.getNewFileInput(username, repoName)"
        >Add New File</a>
    </div>
</div>

}