@import models.Repository

@(username: String, repoName: String, contents: Seq[Repository])(implicit request: RequestHeader, messages: Messages)

@main(repoName){

<div>
    <h2>repoName</h2>
    @for(dir <- contents if item.`type` == "dir") {
    <a href="@routes.ApplicationController.getUserRepoDirContent(username, repoName, dir.path)"
    >@dir.name</a>
    }
    @for(file <- contents if item.`type` == "file") {
    <a href="@routes.ApplicationController.getUserRepoFileContent(username, repoName, file.path)"
    >@file.name</a>
    }
</div>

}