@import models.github.RepoContentItem

@(username: String, repoName: String, dir: RepoContentItem)

<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#B1BAC4" class="bi bi-folder" viewBox="0 0 16 16">
    <path d="M2.5 4a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 .5.5v1h4a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5H1a.5.5 0 0 1-.5-.5V4.5A.5.5 0 0 1 1 4h1z"/>
</svg>
<span class="folder-name">
    <a href="@routes.ApplicationController.getUserRepoDirContent(username, repoName, dir.path)"
    >@dir.name</a>
</span>