
@import models.github.RepoContentItem

@(username: String, repoName: String, file: RepoContentItem)

<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#8D96A0" class="bi bi-file-earmark" viewBox="0 0 16 16">
    <path d="M9.293 3.293a1 1 0 0 0-.293-.207V1.5a.5.5 0 0 0-.5-.5H5a.5.5 0 0 0-.5.5v1H2a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1H9.293a1 1 0 0 0-.207-.293zM4.5 1a.5.5 0 0 1 .5.5v1H9a.5.5 0 0 1 .5.5V4h4a.5.5 0 0 1 .5.5v11a.5.5 0 0 1-.5.5H2a.5.5 0 0 1-.5-.5V4.5A.5.5 0 0 1 2 4h1V2a.5.5 0 0 1 .5-.5z"/>
</svg>
<span class="file-name">
    <a href="@routes.ApplicationController.getUserRepoFileContent(username, repoName, file.path, file.sha)"
    >@file.name</a>
</span>