@import models.github.Repository
@import models.github.RepoContentItem
@import models.github.GitHubUser
@import helper._



@(username: String, repoName: String, repo: Option[Repository], user: Option[GitHubUser], contents: Seq[RepoContentItem], currentLocation:(String,String))(implicit request: RequestHeader, messages: Messages)


@main("Repository Page"){

<div class="main-container">
    <div class="repository-container">

        @if(repo.isDefined && user.isDefined) {
        @views.html.components.userRepoCard(user.get, repo.get)
        }

        <div class="add-file-button">
            <a href="@routes.ApplicationController.getNewFileInput(username, repoName)"
            >Add New File</a>
        </div>

        <div class="repo-contents">
            @if(user.isDefined) {
                <div class="repo-contents-top">
                    <img src="@user.get.avatar_url" alt="avatar of the user" class="repo-contents-avatar">
                    <h2 class="repo-contents-name">@username</h2>
                </div>
            }
            <ul>
                @for(dir <- contents if dir.`type` == "dir") {
                <li class="repos-contents-dir-name">
                    @views.html.components.dirCard(username, repoName, dir)
                </li>
                }
                @for(file <- contents if file.`type` == "file") {
                <li class="repos-contents-file-name">
                    @views.html.components.fileCard(username, repoName, file)
                </li>
                }
            </ul>
        </div>

    </div>
</div>
}
