@import models.github.Repository
@import models.github.RepoContentItem
@import models.github.GitHubUser
@import helper._


@(username: String, repoName: String, repo: Option[Repository], user: Option[GitHubUser], contents: Seq[RepoContentItem])(implicit request: RequestHeader, messages: Messages)


@main("Repository Page"){

<div class="main-container">
    <div class="repository-container">

        @if(repo.isDefined && user.isDefined) {
        @views.html.components.userRepoCard(user.get, repo.get)
        <p class="repo-description">@repo.get.description.getOrElse("No description available.")</p>
        }

        <div class="repo-action-buttons">
            <button class="btn">Fork</button>
        </div>

        @if(repo.isDefined){
            @views.html.components.repoLinks(repo.get)
        }

        <div class="repo-contents">
            <h2>Files and Folders</h2>
            <ul>
                @for(dir <- contents if dir.`type` == "dir") {
                <li>

                    @views.html.components.dirCard(username, repoName, dir)

                </li>
                }
                @for(file <- contents if file.`type` == "file") {
                <li>

                    @views.html.components.fileCard(username, repoName, file)

                </li>
                }
            </ul>
        </div>

        @if(repo.isDefined){
            @views.html.components.repoDetails(repo.get)
        }
    </div>
</div>
}
