@import helper._
@import models.forms.CreateFileForm
@import models.github.GitHubUser
@import models.github.Repository


@(owner:String,
repoName:String,
dirPath:String,
createFileForm: Form[CreateFileForm],
user:Option[GitHubUser],
repo:Option[Repository],
pathSeq:Option[List[(String,String)]]
)(implicit request:RequestHeader, messages:Messages)

@main("Add File") {
@helper.form(action =  routes.ApplicationController.createNewFile(owner, repoName, dirPath)) {
@helper.CSRF.formField
<div id="add-new-file-container">
    @if(user.isDefined && repo.isDefined){
    @views.html.components.userRepoCard(user.get, repo.get)
    }

    <div class="commit-file-container">
        <button type="submit" class="commit-file-button">Commit file</button>
    </div>

    <div class="add-file-form">
        <div class="add-file-form-header">
            @views.html.components.filePath(owner, repoName, pathSeq)

            @helper.inputText(createFileForm("name"), Symbol("placeholder") -> "filename.txt...")

        </div>
        @helper.textarea(createFileForm("content"), Symbol("placeholder") -> "File content...")
        @helper.inputText(createFileForm("message"), Symbol("placeholder") -> "Commit message...")
    </div>

    <input type="hidden" name="branch" value=""/>
    <input type="hidden" name="committerName" value=""/>
    <input type="hidden" name="committerEmail" value=""/>
    <input type="hidden" name="authorName" value=""/>
    <input type="hidden" name="authorEmail" value=""/>
    }
</div>
}





