@import helper._
@import models.forms.DeleteFileForm
@import models.github.GitHubUser
@import models.github.Repository

@(owner:String,
repoName:String,
filePath:String,
fileSha:String,
deleteFileForm: Form[DeleteFileForm],
user:Option[GitHubUser],
repo:Option[Repository],
pathSeq:Option[List[(String,String)]],
fileName: String,
fileContent:String
)(implicit request:RequestHeader, messages:Messages)

@main("Delete File") {


@helper.form(action =  routes.ApplicationController.deleteFile(owner, repoName, filePath, fileSha, fileContent)) {
@helper.CSRF.formField
<div class="edit-file-container">
    @if(user.isDefined && repo.isDefined){
    @views.html.components.userRepoCard(user.get, repo.get)
    }


    <div class="edit-file-form">
        <div class="edit-file-form-header">
            <div class="file-content-path">
                @views.html.components.filePath(owner, repoName, pathSeq)
                <p class="edit-file-name">@fileName</p>
            </div>
            <div class="delete-button-container">
                <button type="submit" class="delete-button-commit" value="Delete">Delete File</button>
            </div>
        </div>
        <div class="file-content">@fileContent</div>
        @helper.inputText(deleteFileForm("message"), Symbol("placeholder") -> "Commit message...")
    </div>

    <input type="hidden" name="branch" value=""/>
    <input type="hidden" name="committerName" value=""/>
    <input type="hidden" name="committerEmail" value=""/>
    <input type="hidden" name="authorName" value=""/>
    <input type="hidden" name="authorEmail" value=""/>
    }
</div>
}
