@import helper._
@import models.forms.UpdateFileForm
@import models.github.GitHubUser
@import models.github.Repository


@(owner:String,
repoName:String,
filePath:String,
fileSha:String,
updateFileForm: Form[UpdateFileForm],
user:Option[GitHubUser],
repo:Option[Repository],
pathSeq:Option[List[(String,String)]],
fileName: String
)(implicit request:RequestHeader, messages:Messages)


@main("Edit File") {
@helper.form(action =  routes.ApplicationController.editFile(owner, repoName, filePath, fileSha)) {
@helper.CSRF.formField
<div class="edit-file-container">
        @if(user.isDefined && repo.isDefined){
        @views.html.components.userRepoCard(user.get, repo.get)
        }

    <div class="edit-file-form">
        <div class="edit-file-form-header">
            <div class="file-content-path">
                @views.html.components.filePath(owner, repoName, pathSeq)
                <p class="edit-file-name">@fileName</p>
            </div>

            <div class="delete-button-container">
                <button type="submit" class="edit-button-commit">Commit file</button>
            </div>

        </div>
        @helper.textarea(updateFileForm("content"), Symbol("placeholder") -> "File content...")
        @helper.inputText(updateFileForm("message"), Symbol("placeholder") -> "Commit message...")
    </div>

    <input type="hidden" name="branch" value=""/>
    <input type="hidden" name="committerName" value=""/>
    <input type="hidden" name="committerEmail" value=""/>
    <input type="hidden" name="authorName" value=""/>
    <input type="hidden" name="authorEmail" value=""/>
    }
</div>
}
