@import helper._
@import models.forms.UsernameSearch
@(usernameForm: Form[UsernameSearch])(implicit request: RequestHeader, messages: Messages)

@main("Search Username Form") {
<div class="search-container">
    <h2 class="search-heading">Any user in mind?</h2>

    @helper.form(action = routes.ApplicationController.getUsernameSearchResult()) {
    @helper.CSRF.formField

    <div class="input-container">
        @helper.inputText(
        usernameForm("username"),
        Symbol("placeholder") -> "Username",
        Symbol("class") -> "input-text",
        Symbol("_showConstraints") -> false
        )
    </div>

    <input type="submit" class="submit-button" value="Submit">
    }
</div>
}
