@()

@main("GitHub Example") {
<div class="index-container">
  <div class="hero-left">
    <h1 class="heading">HEADING</h1>
    <div class="description">
      A paragraph briefly explaining what the project is and what we’re trying to achieve as an end product.
    </div>
    <a href="@routes.ApplicationController.getUsernameSearch()"><button class="button">Search a user</button></a>
  </div>
  <div class="hero-right">
    <div class="extra-content">
      Anything can be included here!
    </div>
  </div>
</div>
}
