@()

@main("GitHub Example") {
<div class="index-container">
  <div class="hero-left">
    <h1 class="heading">Your Personal Github Experience</h1>
    <div class="description">
      A streamlined service for finding and saving users, adding files and making changes to your own personal repositories
    </div>
    <a href="@routes.ApplicationController.getUsernameSearch()"><button class="general-button">Search a user</button></a>
  </div>
  <div class="hero-right">
    <div class="extra-content">
      LOGO?
    </div>
  </div>
</div>
}
